body * + * {
  margin-top: 1em;
}

.triangle-down,
.triangle-left,
.triangle-right,
.triangle-up {
  width: 0;
  height: 0;
  border: 25px solid transparent;
}

.triangle-down {
  border-top-color: #555;
}

.triangle-left {
  border-right-color: #555;
}

.triangle-right {
  border-left-color: #555;
}

.triangle-up {
  border-bottom-color: #555;
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #600;
}
